.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_header{
    color: azure;
    font-size: 10rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}
.content{
    color: azure;
    font-size: 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-top: 0;
}